<app-data-table [dataset]=users>
    <app-column [value]="'idUser'" [header]="'ID'"></app-column>
	<app-column [value]="'name'" [header]="'Name'"></app-column>
	<app-column [value]="'surname'" [header]="'Surname'"></app-column>
	<app-column [value]="'username'" [header]="'Username'"></app-column>
	<app-column [value]="'email'" [header]="'Email'"></app-column>
	<app-column [value]="'phone'" [header]="'Phone'"></app-column>
	<app-column [value]="'role'" [header]="'Role'"></app-column>
</app-data-table>
<app-user-insert-form></app-user-insert-form>

